[submodule "thirdparty/ffmpeg"]
	path = thirdparty/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	
[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/opencv/opencv.git
