[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Apra-Labs/vcpkg
[submodule ".github/autonomous-agent"]
	path = .github/autonomous-agent
	url = https://github.com/Apra-Labs/test-autonomous-devops.git
