[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Apra-Labs/vcpkg
[submodule "thirdparty/gst-build"]
	path = thirdparty/gst-build
	url = https://gitlab.freedesktop.org/gstreamer/gst-build.git
[submodule "thirdparty/libmp4"]
	path = thirdparty/libmp4
	url = https://github.com/Apra-Labs/libmp4.git
	branch = forApraPipes
[submodule "thirdparty/ApraOpenh264"]
	path = thirdparty/ApraOpenh264
	url = https://github.com/Apra-Labs/openh264.git
