name: CI_Cuda

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build:
    runs-on: ubuntu-18.04
    container:
      image: ghcr.io/kumaakh/aprapipes-build-x86-ubutu18.04-cuda:latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04-cuda]
        include:
          - os: ubuntu-18.04-cuda
            BUILDER_PREP_CMD: "cmake --version && ninja --version && gcc --version && meson --version && nvcc --version && git --version"
            VCPKG_BOOTSTRAP_CMD: "./vcpkg/bootstrap-vcpkg.sh"
            GST_BUILD_SCRIPT: "thirdparty/build_gstreamer.sh"
            GST_BUILD_COMMAND: "sh build_gstreamer.sh"
            CACHE_PATH: "~/.cache/vcpkg/archives"
            FLAV: "Linux-Cuda"
            VCPKG_FILE: "base/vcpkg.cuda.json"
            CMAKE-CONF: "cp -f ../base/vcpkg.cuda.json ../base/vcpkg.json && cmake -B . -DENABLE_CUDA=ON ../base"
            NPROC: 3
            SHELL: "bash"
          # - os: ubuntu-20.04
          #   BUILDER_PREP_CMD: "sudo apt-get update -qq && sudo apt-get -y install   autoconf   automake  autopoint build-essential  cmake   git-core  git-lfs libass-dev   libfreetype6-dev   libgnutls28-dev   libmp3lame-dev   libsdl2-dev   libtool   libsoup-gnome2.4-dev   libva-dev   libvdpau-dev   libvorbis-dev   libxcb1-dev   libxcb-shm0-dev   libxcb-xfixes0-dev   ninja-build   pkg-config   texinfo   wget   yasm   zlib1g-dev   nasm   gperf  bison && pip3 install meson"
          #   VCPKG_BOOTSTRAP_CMD: "./vcpkg/bootstrap-vcpkg.sh"
          #   GST_BUILD_SCRIPT: "thirdparty/build_gstreamer.sh"
          #   GST_BUILD_COMMAND: "sh build_gstreamer.sh"
          #   CACHE_PATH: "~/.cache/vcpkg/archives"
          #   FLAV: "Linux"
          #   VCPKG_FILE: "base/vcpkg.json"
          #   CMAKE-CONF: "cmake -B . -DENABLE_CUDA=OFF ../base"
          #   NPROC: 3
          #   SHELL: "bash"
          # - os: self-hosted
          #   BUILDER_PREP_CMD: "echo No builder prep required"
          #   VCPKG_BOOTSTRAP_CMD: "./vcpkg/bootstrap-vcpkg.sh"
          #   CACHE_PATH: "~/.cache/vcpkg/archives"
          #   FLAV: "Linux_ARM64"
          #   VCPKG_FILE: "base/vcpkg.jetson.json"
          #   CMAKE-CONF: "cp -f ../base/vcpkg.jetson.json ../base/vcpkg.json && export VCPKG_FORCE_SYSTEM_BINARIES=1 && cmake -B . -DENABLE_ARM64=ON ../base"
          #   NPROC: 7
          #   SHELL: "bash"
          # - os: windows-2019
          #   BUILDER_PREP_CMD: "pip3 install ninja && pip3 install meson && choco feature enable -n allowEmptyChecksums && choco install pkgconfiglite"
          #   VCPKG_BOOTSTRAP_CMD: "./vcpkg/bootstrap-vcpkg.bat && ./vcpkg/vcpkg.exe integrate install"
          #   GST_BUILD_SCRIPT: "thirdparty/build_gstreamer.bat"
          #   GST_BUILD_COMMAND:  ${{ '.\build_gstreamer.bat noclean' }}
          #   CACHE_PATH: ${{ 'C:\Users\runneradmin\AppData\Local\vcpkg\archives' }}
          #   FLAV: "Windows"
          #   VCPKG_FILE: "base/vcpkg.json"
          #   CMAKE-CONF: "cmake -B . -DENABLE_CUDA=OFF -DENABLE_WINDOWS=ON -DENABLE_LINUX=OFF -A x64 ../base"
          #   NPROC: 3
          #   SHELL: "cmd"
    env:
      BUILD_TYPE: RelWithDebInfo
      CACHE_REST_KEY: ${{ matrix.FLAV }}-build-cache-vcpkg
      TEST_RES_XML: CI_test_result_${{ matrix.FLAV }}.xml
      GST_BUILD_OUTPUT: gst-build/gst-build-1.16/outInstall      
      ISCUDA: ${{ contains(matrix.os, 'cuda') }}
      TESTEXE: build/aprapipesut
      SHELL: ${{ matrix.SHELL }}

    steps:
      - name: Install build dependencies in cloud hosted env
        run: ${{ matrix.BUILDER_PREP_CMD }}

      - name: Checkout code
        uses: actions/checkout@v3
        with: 
          submodules: 'false'
          lfs: 'true'

      - name: Checkout submodule
        run: |
          git submodule update --init --recursive 
          git submodule status > submodule_ver.txt

      - name: Run VCPKG bootstrap
        run: ${{ matrix.VCPKG_BOOTSTRAP_CMD }}
        shell: ${{ env.SHELL }}

      - name: Cache dependencies for fast cloud build
        id: cache-all
        if: runner.arch != 'ARM64' # let's not cache from self hosted runner as it is caching anyways
        uses: actions/cache@v3
        with:
            path: |
              ${{ matrix.CACHE_PATH }}
              thirdparty/${{env.GST_BUILD_OUTPUT}}
            key:  ${{ env.CACHE_REST_KEY }}-${{ hashFiles( matrix.VCPKG_FILE, matrix.GST_BUILD_SCRIPT, 'base/CMakeLists.txt', 'vcpkg/baseline.json', 'submodule_ver.txt') }}
            restore-keys: ${{ env.CACHE_REST_KEY }}-

      - name: Build Gstreamer
        if: ${{ runner.arch != 'ARM64' && steps.cache-all.outputs.cache-hit != 'true' }}
        working-directory: ${{github.workspace}}/thirdparty
        run: |
          ${{matrix.GST_BUILD_COMMAND}}

      - name: cache init
        run: |
          cp -R /root/.cache /github/home/ || true
          dir thirdparty/${{env.GST_BUILD_OUTPUT}}
          dir ${{ matrix.CACHE_PATH }}
        continue-on-error: true

      - name: Make build folder
        run: mkdir -p build
        continue-on-error: true

      - name: Configure CMake Common
        working-directory: ${{github.workspace}}/build
        run: ${{ matrix.CMAKE-CONF }} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DGHA=ON -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake
        continue-on-error: false

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . --config ${{env.BUILD_TYPE}} -j ${{ matrix.NPROC }}
        continue-on-error: false

      - name: Verify contents of our build
        working-directory: ${{github.workspace}}/build/
        run: dir *
        continue-on-error: false

      - name: Override TESTEXE for windows
        if: runner.os == 'Windows'
        run: |
          echo on ${{ runner.os }} change the test exe to ${{env.TESTEXE}}
          echo "TESTEXE=${{env.TESTEXE}}" >> $GITHUB_ENV
        env:
          TESTEXE: build/${{env.BUILD_TYPE}}/aprapipesut.exe

      - name: List test cases
        env:
          LD_LIBRARY_PATH: ${{github.workspace}}/thirdparty/${{env.GST_BUILD_OUTPUT}}/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
        run: |
          ${{ env.TESTEXE }} --list_content
        continue-on-error: false

      - name: Test
        if: ${{ env.ISCUDA != 'true'}}
        env:
          LD_LIBRARY_PATH: ${{github.workspace}}/thirdparty/${{env.GST_BUILD_OUTPUT}}/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
        run: |
          ${{ env.TESTEXE }} --log_level=all --log_format=JUNIT --log_sink=${{ env.TEST_RES_XML }}
        timeout-minutes: 10
        continue-on-error: false

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: TestResults_${{ matrix.FLAV }}
          path: |
            ${{ env.TEST_RES_XML }}

      - name: Upload build logs 
        if:  ${{ failure() }} # only upload logs when we have a failure above
        uses: actions/upload-artifact@v2
        with:
          name: BuildLogs_${{ matrix.FLAV }}
          path: |
            ${{ github.workspace }}/build/**/*.log
            ${{ github.workspace }}/build/**/*.txt
            ${{ github.workspace }}/vcpkg/buildtrees/**/*.log
            ${{ github.workspace }}/vcpkg/buildtrees/**/*.txt
  
  # publish-test-results:
  #   name: "Publish Unit Tests Results"
  #   needs: build
  #   runs-on: ubuntu-latest
  #   if: always()

  #   steps:
  #     - name: Download Artifacts
  #       uses: actions/download-artifact@v2
  #       with:
  #         path: artifacts

  #     - name: Display structure of downloaded files
  #       working-directory: artifacts
  #       run: ls -R
  #       continue-on-error: true

  #     - name: Publish Unit Test Results
  #       uses: EnricoMi/publish-unit-test-result-action@v1
  #       with:
  #         files: artifacts/*/CI_test_result_*.xml
  #       continue-on-error: true
