name: CI-Linux-CUDA-Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  # linux-cuda-build-prep:
  # this is in caching, not using it for now
  #   uses: ./.github/workflows/build-test-lin-container.yml
  #   with:
  #     runner: 'ubuntu-20.04'
  #     flav: 'Linux-Cuda'
  #     is-selfhosted: false
  #     cuda: 'ON'
  #     prep-cmd: 'echo skipping builder prep as I can not sudo'
  #     is-prep-phase: true
  #     cache-path: '/github/home/.cache/vcpkg/archives'      
  #     nProc: 3
  linux-cuda-docker-build-no-test:
    uses: ./.github/workflows/build-test-lin-container.yml
    with:
      runner: 'ubuntu-22.04'
      flav: Linux-Cuda
      is-selfhosted: false
      cuda: 'ON'
      prep-cmd: 'apt-get update -qq && DEBIAN_FRONTEND=noninteractive apt-get -y install ca-certificates curl zip unzip tar autoconf automake autoconf-archive autopoint build-essential gcc g++ make flex git-core git-lfs libass-dev libfreetype6-dev libgnutls28-dev libmp3lame-dev libsdl2-dev libtool libsoup-gnome2.4-dev libva-dev libvdpau-dev libvorbis-dev libxcb1-dev libxcb-shm0-dev libxcb-xfixes0-dev libncurses5-dev libncursesw5-dev ninja-build pkg-config texinfo wget yasm zlib1g-dev nasm gperf bison dos2unix libx11-dev libgles2-mesa-dev libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev python3-jinja2 libssl-dev libcudnn8-dev && pip3 install meson && wget -q https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb && dpkg -i packages-microsoft-prod.deb && apt-get update -qq && apt-get install -y powershell'
      skip-test: true
      cache-path: '/github/home/.cache/vcpkg/archives'
      nProc: 3
  
  

