name: CI-Linux-NoCUDA

on:
  push:
    branches: [ feature/component-based-build ]
  pull_request:
    branches: [ main ]

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  linux-nocuda-build-test:
    strategy:
      fail-fast: false
      matrix:
        preset: ['minimal', 'video', 'full']
    uses: ./.github/workflows/build-test-lin.yml
    with:
      runner: 'ubuntu-22.04'
      flav: 'Linux-nocuda-${{ matrix.preset }}'
      is-selfhosted: false
      cuda: 'OFF'
      preset: '${{ matrix.preset }}'
      nProc: 3
  linux-nocuda-publish:
    needs: linux-nocuda-build-test
    strategy:
      matrix:
        preset: ['minimal', 'video', 'full']
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml
    with:
      flav: 'Linux-nocuda-${{ matrix.preset }}'
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}