name: CI-Linux-CUDA-Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  linux-cuda-build-no-test:
    uses: ./.github/workflows/build-test-lin-container.yml
    with:
      runner: 'ubuntu-20.04'
      flav: Linux-Cuda
      is-selfhosted: false      
      cuda: 'ON'
      skip-test: true 
      cache-path: '/github/home/.cache/vcpkg/archives'
      nProc: 3
  
  

