name: CI-Linux-CUDA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  linux-cuda-build-test:
    uses: ./.github/workflows/build-test-lin.yml
    with:
      flav: Linux-CudaT
      cuda: 'ON'
      is-selfhosted: true
      runner: 'linux-cuda'
      prep-cmd: 'cmake --version ; ninja --version ; gcc --version ; nvcc --version ; git --version; pwsh --version'
      nProc: 6
      nTestTimeoutMins: 20
  linux-cuda-publish:
    needs: linux-cuda-build-test
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml
    with:
      flav: Linux-CudaT
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}