name: CI-Linux-CUDA

on:
  push:  # Trigger on push to any branch
    branches-ignore:
      - fix/ci-additional-workflows  # Ignore push events on this CI fix branch
    paths-ignore:
      - '**.md'
      - '.github/docs/**'
      - 'docs/**'
  pull_request:
    branches-ignore:
      - fix/ci-additional-workflows  # Temporarily disable on ARM64 fix branch
    paths-ignore:
      - '**.md'
      - '.github/docs/**'
      - 'docs/**'
  workflow_dispatch:

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
  
jobs:
  linux-cuda-build-test:
    uses: ./.github/workflows/build-test-lin.yml
    with:
      runner: 'linux-cuda'
      flav: Linux-CudaT
      is-selfhosted: true
      cuda: 'ON'
      prep-cmd: 'echo skipping builder prep as I can not sudo'
      bootstrap-cmd: 'export PATH="/usr/bin/gcc-8:$PATH" && ./vcpkg/bootstrap-vcpkg.sh'
      cache-path: './none'
      nProc: 6
  linux-cuda-publish:
    needs: linux-cuda-build-test
    if: ${{ always() }}
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml
    with:
      flav: Linux-CudaT
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}
