name: CI-Linux-CUDA-WSL

on:
  push:
    branches: [ feature/component-based-build ]
  pull_request:
    branches: [ main ]

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  wsl-cuda-build-test:
    uses: ./.github/workflows/build-test-lin-wsl.yml
    with:
      runner: windows-cuda
      flav: WSL
      is-selfhosted: true
      cuda: 'ON'
      cache-path: './none'
      nProc: 6
  wsl-cuda-publish:
    needs: wsl-cuda-build-test
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml
    with:
      flav: WSL
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}