name: CI-Win-NoCUDA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  win-nocuda-build-prep:
    uses: ./.github/workflows/build-test-win.yml
    with:
      runner: 'windows-2022'
      flav: 'Win-nocuda'
      cuda: 'OFF'
      is-selfhosted: false
      is-prep-phase: true
      nProc: 3
  win-nocuda-build-test:
    needs: win-nocuda-build-prep
    uses: ./.github/workflows/build-test-win.yml
    with:
      runner: 'windows-2022'
      flav: 'Win-nocuda'
      is-selfhosted: false
      cuda: 'OFF'
      is-prep-phase: false
      nProc: 3
  win-nocuda-publish:
    needs: win-nocuda-build-test
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml  
    with:
      flav: 'Win-nocuda'
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}      
