name: CI-Win-CUDA

on:
  push:
    branches: [ feature/component-based-build ]
  pull_request:
    branches: [ main ]

env:
  NOTE_TO_SELF: "environments can not be passed from here to reused workflows!"
  
jobs:
  win-cuda-build-test:
    uses: ./.github/workflows/build-test-win.yml
    with:
      runner: windows-cuda
      flav: 'Windows-cuda'
      cuda: 'ON'
      is-selfhosted: true
      nProc: 8
      nTestTimeoutMins: 20
  win-cuda-publish:
    needs: win-cuda-build-test
    permissions:
      checks: write
      pull-requests: write
    uses: ./.github/workflows/publish-test.yml
    with:
      flav: 'Windows-cuda'
    secrets:
      GIST_TOKEN: ${{ secrets.GIST_TOKEN }}      