name: CI_Linux_x64

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: RelWithDebInfo
  SUBMODS_TXT: submodule_ver.txt
  
jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: 'true'
    
    - name: Compute submodule status
      working-directory: ${{github.workspace}}
      run: (git submodule status > ${{env.SUBMODS_TXT}}) && (cat ${{env.SUBMODS_TXT}})
      
    - name: Run VCPKG bootstrap
      working-directory: ${{github.workspace}}
      run: ./vcpkg/bootstrap-vcpkg.sh

    - name: Cache VCPKG 
      id: cache-vcpkg
      uses: actions/cache@v2
      env:
        cache-name: cache-vcpkg
      with:
          # vcpkg cache files are stored in `~/.cache/vcpkg/archives` on Linux
          path: ~/.cache/vcpkg/archives
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('base/vcpkg.json', 'base/CMakeLists.txt') }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}-

    - name: Install build dependecies
      run: sudo apt-get update -qq && sudo apt-get -y install   autoconf   automake   build-essential   cmake   git-core   libass-dev   libfreetype6-dev   libgnutls28-dev   libmp3lame-dev   libsdl2-dev   libtool   libva-dev   libvdpau-dev   libvorbis-dev   libxcb1-dev   libxcb-shm0-dev   libxcb-xfixes0-dev   ninja-build   pkg-config   texinfo   wget   yasm   zlib1g-dev   nasm   gperf  bison  autopoint  libsoup-gnome2.4-dev && sudo pip3 install --user meson
    
    - name: Cache gstreamer dependencies
      id: cache-gstreamer
      uses: actions/cache@v2
      with:
          path: ${{github.workspace}}/thirdparty/gst-build/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('thirdparty/build_gstreamer.sh') }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}-

    - name: Build gstreamer
      if: steps.cache-gstreamer.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}
      run: cd thirdparty && sh build_gstreamer.sh && cd ..

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_WINDOWS=OFF -DENABLE_CUDA=OFF ${{github.workspace}}/base -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/vcpkg/scripts/buildsystems/vcpkg.cmake

    - name: Build
      run: export PKG_CONFIG_PATH=${{github.workspace}}/thirdparty/gst-build/gst-build-1.16/outInstall/lib/x86_64-linux-gnu/pkgconfig  && cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      run: export LD_LIBRARY_PATH="${{github.workspace}}/thirdparty/gst-build/gst-build-1.16/outInstall/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH" && build/aprapipesut --log_format=JUNIT --log_sink=CI_test_result_ubuntu.xml

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
       name: Unit Test Results
       path: |
         CI_test_result_ubuntu.xml

    - name: Upload all build logs
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: logs
        path: |
          ${{ github.workspace }}/vcpkg/buildtrees/*/*.log
          ${{ github.workspace }}/vcpkg/buildtrees/*/*.txt
          ${{ github.workspace }}/vcpkg/buildtrees/*/*/*.log
          ${{ github.workspace }}/vcpkg/buildtrees/*/*/*.txt
    
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      if: always()
      with:
        files: CI_test_result_ubuntu.xml

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Event File
          path: ${{ github.event_path }}
          
