name: Weekly Update

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  update-vcpkg-submodule:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code recursively
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Update vcpkg submodule
        run: |
          git submodule update --remote vcpkg
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          signoff: true
          delete-branch: true
          title: 'Update vcpkg submodule'
          branch: update-vcpkg
          base: main
          commit-message: |
            [BOT] Update vcpkg submodule
